<!DOCTYPE html>
<html>

<head>
    <title>npm install gh-pages --save-dev | freeCodeCamp.org</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<h1>Timestamp Microservice</h1>
<hr />
<div class="container">
    <h3>Example Usage:</h3>
    <div>
        <div><a href="api/">[project url]/api/</a></div>
        <div><a href="api/2015-12-25">[project url]/api/2015-12-25</a></div>
        <div><a href="api/1451001600000">[project url]/api/1451001600000</a></div>
    </div>

    <h3>Example Output:</h3>
    <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
</div>
<div class="footer">
    <p>
        By <a href="https://github.com/olduma/">olduma</a> <i class="fas fa-code"></i>
    </p>
</div>
</body>

</html>
